.iconButton {
  position: relative;
  right: 13em;
}

/* Styling for Collections and Meal Plan sections */
.sectionBackground {
  background-color: #f8f8ff;
}

.hrTag {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-image {
  width: 60%;
  margin-bottom: 50px;
  margin-top: 100px;
}
