.recipes img {
  width: 215px;
  height: 200px;
  text-align: center;
  margin-bottom: 10px;
}

.recipe-box {
  width: 200px;
  height: 300px;
  text-align: center;
}

.add-button {
  margin-bottom: 30px;
}
