/* .input {
    width: 500px;
    height: 70px;
} */

.signup-button {
  outline: none;
}

.signup-text {
  text-align: center;
}

.input-box {
  width: 500px;
  height: 60px;
}

#modal-box {
  border-radius: 25px;
  border: 2px solid white;
  /* "outline: none" removes focus outline around selected field */
  outline: none;
  /* width: 500px; */
  /* padding: 20px;
    width: 200px;
    height: 150px; */
}
